# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

*.h5

# Results / output


# Environment
.env
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test files
test.txt

# Docker generated
docker/download_sc2.sh
